@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/***********GENERAL***********/
html {
    font-family: 'Do Hyeon', sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body, article, section {
    margin: 0;
	padding: 0;
    border: 0;
}

section {
    display: inline-flex;
    flex-direction: column;
}

.container {
    width: 940px;
    background: lightslategray;
    margin: auto;
    font-family: sans-serif;
  }
  

/***********PRINCIPAL+IMAGEN***********/
section.section1{
    height: 300px;
    flex-direction: row;
    width: 100%;
    text-align: left;
    background-color: rgb(201, 194, 133);
}

h1.titulo1 {
    font-size: 60px;
    font-family: 'Do Hyeon', sans-serif;
    margin-block-start: 10%;
    margin-block-end: 0em;
    margin-left: 40%;
    color: black;
}

h1.titulo2 {
    font-size: 60px;
    font-family: 'Do Hyeon', sans-serif;
    margin-block-start: 10%;
    margin-block-end: 0em;
    margin-left: 90%;
    color: black;
}

h1.titulo3 {
    font-size: 60px;
    font-family: 'Do Hyeon', sans-serif;
    margin-block-start: 10%;
    margin-block-end: 0em;
    margin-left: 140%;
    color: black;
}

/**********SECTIONS CENTRALES***********/
section.section2  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -5px;
}

section.section2 article {
    flex: 1;
    font-size: 1.2em;
    text-align: left;
    padding: 4%;
}

section.section2 p {
    flex: 1;
}

article.section2-1 {
    background-color: rgb(46, 40, 54);
    color: white;
}

article.section2-2 {
    background-color: rgb(255, 255, 255);
}

/**********TITULOS SECTION***********/
section.section3 h2 {
    font-size: 40px;
    color: rgb(170, 127, 48);
    text-align: center;
}

section.section3-1 {
    background-color: rgb(201, 194, 133);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/**********CV_JOAN***********/
a {
    color: rgb(170, 127, 48);
}

/**********VIDEO***********/
video {
    width: 400px; 
    height: 400px;
}